body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}

h1 { font-family: ;
}

#description {
padding-bottom: 30px;
}

#container {
    display: inline-block;
}

#eightBall {
    background-color: black;
    border-radius: 1000%;
    width: 200px;
    height: 200px;
    padding: 5em;
    justify-content: center;
    border: 2px double blue ;
    position: relative;

}

#luna {
    background-color: whitesmoke;
    border-radius: 100%;
    width: 8em;
    height: 8em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px double blue; */
}

#eight {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-weight: bold;
}

#icosahedronText {
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    font-weight: lighter;
    color: rgb(165,225,250);
    border-radius: 100%;
    width: 9em;
    height: 8em;
    box-sizing: border-box;
    padding: 2em;
    opacity: 80%;
}

#dark{
    background-color: midnightblue;
    border: 2px double blue ;
    border-radius: 100%;
    width: 8em;
    height: 8em;
    opacity: 30%;
}

#triangle {
    /* background-color: midnightblue;
    border: 2px double blue ;
    border-radius: 100%;
    width: 8em;
    height: 8em; */
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 75%;
    width: 0; 
    height: 0; 
    border-left: 3.5em solid transparent;
    border-right: 3.5em solid transparent;
    
    border-top: 5.3em solid rgb(60,60,205);
}


aside {
    font-size: small;
    padding-top: 1em;
}

#refresh {
    /* border: 1px  midnightblue; */
    border-radius: 10%;
    background-color: whitesmoke;
    padding: 1em;
    text-shadow: #191970 1px 0 10px;
    opacity: 50%;